body{
	background-color: burlywood;
}

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    color: black;
    border-image: right;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #blue;
    font-weight: bold;
    
}

nav a:hover {
    border-bottom: 2px solid #333; /* Add a solid border on hover */
}

